html{
  background-color: #aefff1;
  font-family: cursive;
  font-size: 1.3em;
  text-align: center;
}
.container{
  margin-left: 200px;
  margin-right: 200px;
  background-color: #FFF;
  box-sizing: border-box;
  padding: auto;
}
h1{
  padding-top: 50px;
}
p{
  padding:30px;
}
img{
    max-width: 100%;
    height: auto;
}
#text_where{
  color: red;
  font-style: italic;
  font-weight: bolder;
}
